@{
    ViewBag.Title = "About";
}


<div id="ProgName"></div>

<script>
    var refresh_interval = 500;


          setInterval(function () {
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("Prog_name")",
                dataType: "text",
                success: function (msg) {
                    $('#ProgName').html(msg);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    }, refresh_interval);

 </script>